body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
    color: #333;
    background: url('{% static "background3 (2).jpg" %}') no-repeat center center fixed;
}

/* Header Styles */
header {
    /* background: linear-gradient(135deg, Black, gray); Gradient background */
    color: white;
    padding: 20px 0;
    text-align: center;
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); */
}

header h1 {
    margin: 0;
    font-size: 2.5rem; /* Increased font size */
}

h1, h2, h3 {
    text-align: center;
    color: black;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    margin-bottom: 30px;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

nav ul li a:hover {
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
    max-width: 800px;
    margin: 0 auto;
}

li {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

li strong {
    color: #555;
}

li a {
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
    font-weight: bold;
}

/* Main Content */
main {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

p {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}

strong {
    color: #333;
}

/* Forms */
form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"], input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #333;
}

/* Add this new style for the delete button */
button[name="delete_profile"] {
    color: white !important;
    background-color: red;
    border: none;
    cursor: pointer;
}

button[name="delete_profile"]:hover {
    background-color: darkred;
    color: white !important;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 15px;
    background: linear-gradient(135deg, Black, gray); 
    color: white;
    margin-top: 30px;
}

footer p {
    margin: 0;
    font-size: 0.9rem;
}

@media (max-width: 768px) {
    main {
        padding: 15px;
    }
}
